html,
body {
  background: #03153e;
  font-size: 1.1rem;
  font-family: "Roboto", Arial, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
